@model NetC.JuniorDeveloperExam.Web.Models.Blogpost
@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="mt-4"><a href="@Url.Action("BlogPost", "Blog", new { id = Model.id })">@Model.title</a></h1>
        <hr>
        <p>Posted on @Model.date</p>
        <hr>
        <img src="@Model.image" />
        <hr>
        <p>@Html.Raw(Model.htmlContent)</p>
    </div>
    <hr>
    @Html.Partial("~/Views/Partials/CommentsForm.cshtml")
    <hr>
    <div class="col-lg-12">
        <h2 class="mt-4">Comments</h2>
        <hr>
        @if (Model.comments != null && Model.comments.Any())
        {
            foreach (var comment in Model.comments)
            {
                @Html.Partial("~/Views/Partials/Comments.cshtml", comment);
            }
        }
        else
        {
            <p>No comments available.</p>
        }
    </div>
</div>